<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyuan.mapper.mp.AnswerRecordMapper">
  <resultMap id="BaseResultMap" type="com.liyuan.domain.AnswerRecord">
    <!--@mbg.generated-->
    <!--@Table answer_record-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="subject_id" jdbcType="CHAR" property="subjectId" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="answer_num" jdbcType="INTEGER" property="answerNum" />
    <result column="correct_num" jdbcType="INTEGER" property="correctNum" />
    <result column="user_answer" jdbcType="VARCHAR" property="userAnswer" />
    <result column="topic_note" jdbcType="VARCHAR" property="topicNote" />
    <result column="is_mistakes" jdbcType="BOOLEAN" property="isMistakes" />
    <result column="is_collect" jdbcType="BOOLEAN" property="isCollect" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id,subject_id, user_id,answer_num, correct_num, user_answer, topic_note, is_mistakes, is_collect,
    create_time, modified_time, is_deleted
  </sql>
</mapper>